[MySQL]
db_host = 'localhost'
db_port = 3306
db_user = 'root'
db_password = 'rootroot'
[systemconf]
allow_request_url_failure_number_for_worker_threading = 3
worker_threading_number = 3
web_driver_wait_timout = 3
web_driver_wait_number = 3
db_database = 'earthElementT'
db_character_property = 'earthCharacter'
db_table_pagelog = 'pageLog'
db_table_earthnormal = 'earthNormal'
db_total_pages = 6
db_total_items = 1503
db_constructed_datetime = 2020-05-26 19:14:48
db_auto_rebuilt_intervl = '7*24*60*60=604800'
